**/__pycache__
**/*.png
**/*.jpg
**/*.bmp
**/*.weights
**/*.pth
**/*.dll
**/*.exe
**/result.json
**/*.bat
**/*.db
**/*.csv
**/*.txt
**/*.whl

config
data
dataEmpty
dataLabel
dataSplit
projects
datasets
deploy
main/run_queue.json
logs